doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/stylesheets/styles.css')
        body
            #root
            script(src="./js/sc2.js", type='text/javascript')
            script(src="js/src/vendor/LiveJS/livejs.js", type='text/javascript')
