.sound
  overflow hidden
  position relative
  display inline-flex
  flex 1 1 7.5em
  height 7.5em
  padding em-auto(12)
  /__artwork
    overlay-before()
    absolute -1px
    background-position center
    background-size cover
    background-repeat no-repeat
  /__title
    width 100%
    text-align center
    position relative
    color $color-white
